@if (products) {
<div class="flex flex-col gap-3">
  <div class="grid md:grid-cols-3 gap-4">
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="products.count"
      [pageSize]="shopParams.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="shopParams.pageNumber - 1"
      aria-label="Select page"
      class="bg-white justify-start flex"
    >
    </mat-paginator>
    <form
      #searchForm="ngForm"
      (ngSubmit)="onSearchChange()"
      class="relative flex items-center w-full md:mx-4"
    >
      <input
        type="search"
        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg md:mb-5 lg: mb-0"
        placeholder="Search"
        name="search"
        [(ngModel)]="shopParams.search"
      />
      <button
        mat-icon-button
        type="submit"
        class="absolute inset-y-0 right-8 top-2 flex items-center pl-3"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div class="flex gap-3 md:justify-end justify-between">
      <button
        mat-stroked-button
        color="primary"
        (click)="openFilterDialog()"
        class="match-input-height"
      >
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
      <button
        mat-stroked-button
        color="primary"
        [matMenuTriggerFor]="sortMenu"
        class="match-input-height"
      >
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 2xl:grid-cols-6 gap-4"
  >
    @for (product of products.data; track product.id) {
    <app-product-item [product]="product"></app-product-item>
    }
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <mat-selection-list
    [multiple]="false"
    (selectionChange)="onSortChange($event)"
  >
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="sort.value === shopParams.sort"
    >
      {{ sort.display }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
}
