<div class="flex flex-col lg:flex-row mx-auto px-4 gap-4">
  <div class="flex w-full lg:w-3/4">
    <mat-stepper
      [orientation]="stepperOrientation"
      [linear]="true"
      (selectionChange)="onStepChange($event)"
      #stepper
      class="p-4 bg-white rounded-lg shadow-md mb-4 w-full border border-gray-200"
    >
      <mat-step label="Address" [completed]="completionStatus().address">
        <div id="address-element"></div>
        <div class="grid grid-cols-1 gap-4 mt-4">
          <mat-checkbox
            class="float-right"
            [checked]="saveAddress"
            (change)="onSaveAddressCheckboxChange($event)"
          >
            Save as default address
          </mat-checkbox>
        </div>
        <div
          class="grid grid-cols-1 gap-4 md:flex md:justify-between md:flex-row-reverse mt-6"
        >
          <button
            matStepperNext
            mat-flat-button
            class="w-full md:w-auto"
            [disabled]="!completionStatus().address"
          >
            Next
          </button>
          <button
            routerLink="/shop"
            mat-stroked-button
            class="w-full md:w-auto"
          >
            Continue Shopping
          </button>
        </div>
      </mat-step>
      <mat-step label="Shipping" [completed]="completionStatus().delivery">
        <app-checkout-delivery
          (deliveryComplete)="handleDeliveryChange($event)"
        ></app-checkout-delivery>
        <div
          class="grid grid-cols-1 gap-4 md:flex md:justify-between md:flex-row-reverse mt-6"
        >
          <button
            matStepperNext
            mat-flat-button
            class="w-full md:w-auto"
            [disabled]="!completionStatus().delivery"
          >
            Next
          </button>
          <button
            matStepperPrevious
            mat-stroked-button
            class="w-full md:w-auto"
          >
            Back
          </button>
        </div>
      </mat-step>
      <mat-step label="Payment" [completed]="completionStatus().card">
        <div id="payment-element"></div>
        <div
          class="grid grid-cols-1 gap-4 md:flex md:justify-between md:flex-row-reverse mt-6"
        >
          <button
            matStepperNext
            mat-flat-button
            class="w-full md:w-auto"
            [disabled]="!completionStatus().card"
          >
            Next
          </button>
          <button
            matStepperPrevious
            mat-stroked-button
            class="w-full md:w-auto"
          >
            Back
          </button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
        <app-checkout-review
          [confirmationToken]="confirmationToken"
        ></app-checkout-review>
        <div
          class="grid grid-cols-1 gap-4 md:flex md:justify-between md:flex-row-reverse mt-6"
        >
          <button
            mat-flat-button
            class="w-full md:w-auto"
            (click)="confirmPayment(stepper)"
            [disabled]="!confirmationToken || loading"
          >
            @if(loading) {
            <mat-spinner diameter="20"></mat-spinner>
            } @else {
            <span>
              Pay
              {{ cartService.totals()?.total | currency : "INR" }}
            </span>
            }
          </button>
          <button
            matStepperPrevious
            mat-stroked-button
            class="w-full md:w-auto"
          >
            Back
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="w-full lg:w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
