<div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <app-text-input label="First Name" formControlName="firstName" />
    <app-text-input label="Last Name" formControlName="lastName" />
    <app-text-input label="Email" formControlName="email" />
    <app-text-input
      label="Password"
      formControlName="password"
      type="password"
    />

    @if (validationErrors) {
    <div class="bg-red-100 text-sm mt-2 p-4 gap-4 text-red-600">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>
          {{ error }}
        </li>
        }
      </ul>
    </div>
    }
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-full mt-4"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
</div>
