.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
}

.custom-badge .mat-badge-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

a,
.mat-icon {
  &.active {
    color: var(--mdc-radio-selected-icon-color);
  }
}
