<div class="mt-6 w-full">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div
      class="w-full h-full"
      [innerHTML]="confirmationToken?.shipping | address"
    ></div>
    <div
      class="w-full h-full"
      [innerHTML]="confirmationToken?.payment_method_preview | payment"
    ></div>
  </div>
</div>

<div class="mt-6 mx-auto">
  <div class="border-b border-gray-200">
    <table class="w-full text-center">
      <tbody class="divide-y divide-gray-200">
        @for (item of cartService.cart()?.items; track $index) {
        <tr>
          <td class="py-4">
            <div class="flex items-center gap-4">
              <img
                src="{{ item.pictureUrl }}"
                alt="{{ item.productName }}"
                class="w-10 h-10"
              />
              <span>{{ item.productName }}</span>
            </div>
          </td>
          <td class="py-4">x {{ item.quantity }}</td>
          <td class="py-4 text-right">
            {{ item.price | currency : "INR" }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
