<div
  class="grid grid-cols-1 sm:grid-cols-4 items-center border-b py-4 gap-4 sm:gap-0"
>
  <img
    [src]="item().pictureUrl"
    alt="{{ item().productName }}"
    class="w-16 h-16 object-cover rounded mx-auto md:ml-5"
  />
  <div class="text-center sm:text-left">
    <h3 class="text-lg font-semibold">
      <a routerLink="/shop/{{ item().productId }}" class="hover:underline">
        {{ item().productName }}
      </a>
    </h3>
    <p class="text-sm text-gray-600">Category: {{ item().category }}</p>
    <p class="text-sm text-gray-600">Brand: {{ item().brand }}</p>
  </div>
  <div class="flex items-center justify-center sm:justify-start">
    <div class="flex items-center space-x-2">
      <label class="text-sm text-gray-600 mr-2">Quantity:</label>
      <button
        class="text-gray-600 hover:text-gray-800 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
        (click)="decrementQuantity()"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <p class="text-sm text-gray-600 mx-2">
        {{ item().quantity }}
      </p>
      <button
        class="text-gray-600 hover:text-gray-800 bg-gray-200 rounded-full w-8 h-8 flex items-center justify-center"
        (click)="incrementQuantity()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex items-center justify-center sm:justify-end">
    <p class="text-lg font-bold text-gray-800 mr-4">
      {{ item().price | currency : "INR" }}
    </p>
    <button
      mat-button
      class="text-red-500 hover:text-red-700"
      (click)="removeItem()"
    >
      Remove
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
